PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/portfolio?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_here
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASS=-pass
GITHUB_USERNAME=janeshkrish
GITHUB_TOKEN=your_github_token_optional
CLIENT_URL=http://localhost:5173

# Email configuration for Contact Form
EMAIL_USER=janeshkrishna12@gmail.com
EMAIL_PASS=your_gmail_app_password
